<p>pokemon-list works!</p>
<ul>
    <li *ngFor="let pokemon of pokemons">
        <span>{{ pokemon.name}}</span>
    </li>
    <!-- <li>pokemon 1
        <img src="https://pokeapi.co/api/v2/pokemon/bulbasaur.sprites" />
    </li>
    <li>pokemon 2
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" />
    </li> -->
</ul>
<!-- 
https://web.postman.co/workspace/My-Workspace~0c3d2136-1aa5-489b-8751-56d317762656/request/create?requestId=636bec51-345d-428c-8488-b9f79810ff62
https://pokeapi.co/api/v2/pokemon/bulbasaur 
"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
-->