<p>pokemon-list works!</p>
<ul>
    <li *ngFor="let pokemon of pokemons">
        <span>{{ pokemon.name}}</span>
    </li>
    <!-- <li>pokemon 1
        <img src="https://pokeapi.co/api/v2/pokemon/bulbasaur.sprites" />
    </li>
    <li>pokemon 2
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" />
    </li> -->
</ul>
<!-- 
https://pokeapi.co/api/v2/pokemon/bulbasaur 
"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png"
-->