.column{
  float: left;
  width: 100%;
}

.row::after{
  content: url("https://www.justcolor.net/kids/anime-and-mangas/pokemon/all-pokemon-coloring-pages/?image=pokemon__Coloring-for-kids-pokemon-22402__1");
  display: table;
  clear: both;
}

.loginSubmitButton{
  background-color: rgb(25, 135, 48);
  color:  rgb(132, 198, 146);
  border-color:black;
  width: 80%;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: 100;
}

.loginSubmitButton:hover{
background-color: rgb(132, 198, 146);
}

.border{
  background-color: rgb(132, 198, 146);
  color: whitesmoke;
  border-color:black;
  width: 80%;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: 100;
}

.border:hover{
background-color:  rgb(132, 198, 146);
}

/* mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
  }

.container, app-root, app-login, app-login-form {
  height: 100%;
  display: block;
} */

mat-card {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

section {
  vertical-align: middle;
  height: 100%;
}

.loginTitle{
  text-align: center;
}

.loginForm{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginFormInput{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
