<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <fieldset class="mb-3">
    <label for="username" class="block">Username</label>
    <input type="text" ngModel #username="ngModel" required minlength="2" name="username" id="username"
      class="border border-slate-300 rounded-md w-full" placeholder="johndoe">
    <div *ngIf="username.errors && (username.dirty || username.touched)">
      <p *ngIf="username.errors['required']">username is required</p>
      <p *ngIf="username.errors['minlength']">username is too short</p>
    </div>
  </fieldset>
  <button type="submit" [disabled]="loginForm.form.invalid" Login mat-button color="primary">Login</button>


</form>
