<mat-card style="display: flex">
  <mat-card-title class="loginTitle">Login</mat-card-title>
  <mat-card-content>
    <form #loginForm="ngForm" class="loginForm" (ngSubmit)="loginSubmit(loginForm)">
      <div>
        <fieldset class="mb-3">
          <label for="username" class="block">Username</label>
          <input class="loginFormInput" type="text" ngModel #username="ngModel" required minlength="2" name="username" id="username"
            class="border" placeholder="sean">
          <div *ngIf="username.errors && (username.dirty || username.touched)">
            <p *ngIf="username.errors['required']">username is required</p>
            <p *ngIf="username.errors['minlength']">username is too short</p>
          </div>
        </fieldset>
        <button class="loginSubmitButton" type="submit" [disabled]="loginForm.form.invalid">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
